<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eloan.business.mapper.AccountFlowMapper">

	<insert id="insert" parameterType="AccountFlow" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into accountflow
		(accountActionType,amount,account_id,note,balance,freezed,actionTime)
		values (#{accountActionType},#{amount},
		#{account.id},#{note},#{balance},#{freezed},#{actionTime})
	</insert>

</mapper>